<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
    <test verbose="2" preserve-order="true" name="chromeTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="gun09.odev.TestClass"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="FirefoxTest">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="gun09.odev.TestClass"/>
        </classes>
    </test>
</suite>